<div class="row">
	<div class="col-xs-4 col-xs-offset-1">
		<h1>Shortened URLs</h1>
		<ul>
			<% @urls.each do |url| %>
				<li>
					<%= link_to url.short_url, url.long_url %>
				</li>
			<% end %>
		</ul>
		<%= link_to "Shorten new URL", new_shortened_url_url %>
	</div>
</div>